   /*Tips .html*/ 
   .cuidados { 
    text-align:left;
    text-decoration: none;
    padding-right: 25px;
} 
.ListaTips li {
    text-align: left;
}
p strong {
    text-decoration: underline;
    text-decoration-color: blue;
    }
.parrafo1 {
    text-align: left;
    padding-right: 25px;
    padding-left: 25px;
}
.parrafo1 img {
    float: left;
    padding-right: 30px;
}